.item-description {
  width: 70%;
  padding-right: 10px;
  text-align: left;
}
.item-description h1,
.item-description h4 {
  margin-bottom: 15px;
}
.description {
  text-align: left;
}
.caution {
  margin: 40px 0;
}
.caution p {
  margin: 3px 0;
}
